.platypi-unique {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  font-family: "Platypi", serif;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}
.title{
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}
.desc{
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  overflow: auto;
}
.fieldBox{
  /* border: 1px solid green; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gameTitle{
  font-size: 30px;
  font-weight: 300;
}
.inputBox{
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 130px;
  border: 2px solid rgb(191, 206, 92);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.box{
  width: 70px;
  height: 25px;
  text-align: center;
  border:none;
  outline: none;
  color: cyan;
}
.submitBtn{
  margin-top: 5px;
  /* border: 1px solid violet; */
  display: flex;
  justify-content: center;
}
.glow-on-hover {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.resultBox{
  /* border: 1px solid orange; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prevGuess{
  /* border: 1px solid green; */
  margin-bottom: 5px;
  width: 500px;
  margin-left: 400px;
}
.remGuess{
  /* border: 1px solid yellow; */
  width: 220px;
  margin-bottom: 5px;
  margin-left: 120px;
}

.result{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  /* border: 1px solid blueviolet; */
  padding: 10px;
}

.startOver{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}